@model List<CreateQuestionDTO>


<div class="form-group">
    <label>Yazı Seçimi</label>
        <select class="form-control">
            <option value="articletitle">"Of Course We’re Living in a Simulation"</option>
            <option value="articletitle">This Massive Indie Game Bundle Costs $10 and Benefits Ukraine Charities</option>
            <option value="articletitle">Trapped in Silicon Valley’s Hidden Caste System</option>
            <option value="articletitle">Online Sleuths Are Using Face Recognition to ID Russian Soldiers</option>
        </select>




</div>
<form asp-action="List" method="post">


    @for (int i = 0; i < 4; i++)
    {
<div class="form-group">
    <label asp-for="@Model[i].QuestionDescription">Soru @(i+1)</label>
    <input asp-for="@Model[i].QuestionDescription" type="text" class="form-control">
</div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input asp-for="@Model[i].A" type="text" class="form-control inputVal@(i+1)" placeholder="A)">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input asp-for="@Model[i].B" type="text" class="form-control" placeholder="B)">
                        </div>
                    </div>
                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input asp-for="@Model[i].C" type="text" class="form-control" placeholder="C)">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input asp-for="@Model[i].D" type="text" class="form-control" placeholder="D)">
                                        </div>
                                    </div>
                                </div>
                                                <div class="col-md-8 mx-auto">
                                                    <div class="form-group">
                                                        <label asp-for="@Model[i].CorrectAnswer">Doğru Cevap Seç</label>
                                                        <select class="form-control alert-success" asp-for="@Model[i].CorrectAnswer">
                                                            <option value="A">A</option>
                                                            <option value="B">B</option>
                                                            <option value="C">C</option>
                                                            <option value="D">D</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                                <input type="hidden" asp-for="@Model[i].ArticleId" value="1">}
    <button type="submit" asp-controller="Exam" asp-action="List" class="btn btn-primary btn-lg btn-block col-md-8 mx-auto">SINAV OLUŞTUR</button>

</form>
