<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Prensentation</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>

        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-5">
            <div class="container">
                <img src="https://www.konusarakogren.com/images/assets/img/logo.png" style="height:32px;">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    @if (User?.Identity?.IsAuthenticated ?? false)
                    {
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Exam" asp-action="Create">Sınav Oluştur</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Article" asp-action="List">Yazıları Listele</a>
                            </li>
                        </ul>
                        <div class="nav-item d-flex">
                                <a class="nav-link text-primary" asp-controller="Account"  asp-route-userName="@User.Identity.Name">Giriş Yapıldı,Hoşgeldiniz</a>
                                @*<a class="nav-link text-dark" href="#">Hoşgeldin <strong>@Model.UserName</strong></a>*@
                                <a class="btn btn-sm btn-primary" asp-controller="Account" asp-action="Logout">Çıkış Yap</a>
                        </div> }
                    else
                    {
                        <ul class="navbar-nav flex-grow-1">
                            @*<li class="nav-item">
                                <a class="nav-link text-primary" asp-controller="Exam" asp-action="Create">Sınav Listesi</a>
                            </li>*@
                        </ul>
                        <div class="nav-item d-flex">
                            <a class="btn btn-sm btn-primary" asp-controller="Account" asp-action="Login">Giriş Yap</a>
                        </div>}
                    @*<ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-primary" asp-controller="Exam" asp-action="Create">Sınav Oluştur</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-primary" asp-controller="Article" asp-action="List">Makaleler</a>
                            </li>
                        </ul>
                        <div class="nav-item d-flex">
                            <a class="btn btn-sm btn-primary" asp-controller="Account" asp-action="LogIn">Giriş Yap</a>
                        </div>
                        <div class="nav-item d-flex ml-1">
                            <a class="btn btn-sm btn-primary" asp-controller="Account" asp-action="LogOut">Çıkış Yap</a>
                        </div>*@
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>



